<% layout('/layouts/default.html', {title: '批次记录表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('批次记录表管理')}
			</div>
			<div class="box-tools pull-right">
				<span>该盈利模式下总盈亏金额(元):<span id="zyk">229</span></span>
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
<!--				<% if(hasPermi('bkp:bkpBatchrecord:edit')){ %>-->
<!--					<a href="${ctx}/bkp/bkpBatchrecord/form" class="btn btn-default btnTool" title="${text('新增批次记录表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
<!--				<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${bkpBatchrecord}" action="${ctx}/bkp/bkpBatchrecord/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group" style="display: none">
					<label class="control-label">${text('固定模式id')}：</label>
					<div class="control-inline">
						<#form:input path="modeid" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
<!--				<div class="form-group" >-->
<!--					<label class="control-label">${text('当前批次')}：</label>-->
<!--					<div class="control-inline">-->
<!--						<#form:input path="batch" maxlength="30" class="form-control width-120"/>-->
<!--					</div>-->
<!--				</div>-->
				<div class="form-group" style="display: none">
					<label class="control-label">${text('当前批次预盈利金额')}：</label>
					<div class="control-inline">
						<#form:input path="preprofit" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('当前批次实际盈利金额')}：</label>
					<div class="control-inline">
						<#form:input path="profitamount" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group" style="display: none">
					<label class="control-label">${text('开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="starttime" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group" style="display: none">
					<label class="control-label">${text('结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="endtime" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group" style="display: none">
					<label class="control-label">${text('当前状态 进行中 已完成')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
	function initValue(){
		var lenth=$("#dataGrid tbody").children("tr");
		for(var i=1;i<lenth.length;i++){
			var test=lenth.eq(i).children("td").eq(6);//下注结果
			var t=test[0];
			var cc=t.textContent;
			if (cc=="0"){
				t.textContent="未开始";
			}else if (cc=="1"){
				t.textContent="进行中";
			}else{
				t.textContent="已结束";
			}
		}
		var jqgfirstrow=$("tr[role=row]");
		if (jqgfirstrow.length>2){
			var id=jqgfirstrow[2].id;
			//执行方法  查询该盈利模式下的盈亏金额
			var data={
				id:id
			}
			$.post("${ctx}/bkp/bkpBatchrecord/amountOfLoss",data).then(res =>{
             $("#zyk").text(res+"元");
			})
		}else{
			$("#zyk").text("0元")
		}

		debugger;
	}
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("当前盈利模式名称")}', name:'description', index:'a.description', width:150, align:"left"},
		{header:'${text("当前批次")}', name:'batch', index:'a.batch', width:150, align:"left",frozen:true,formatter: function(val, obj, row, act){
				return '<a href="${ctx}/bkp/bkpUserbets/list?pcjlid='+row.id+'" class="btnList" data-title="${text("批次天记录")}">'+(val||row.id)+'</a>';}},
		{header:'${text("当前批次预盈利金额(元)")}', name:'preprofit', index:'a.preprofit', width:150, align:"left"},
		{header:'${text("当前批次(天)预盈利金额(元)")}', name:'fpyl', index:'a.fpyl', width:150, align:"left"},
		{header:'${text("当前批次实际盈亏金额(元)")}', name:'profitamount', index:'a.profitamount', width:150, align:"left"},
		{header:'${text("当前状态")}', name:'dqzt', index:'a.dqzt', width:150, align:"left"},
		{header:'${text("开始时间")}', name:'starttime', index:'a.starttime', width:150, align:"left"},
		{header:'${text("结束时间")}', name:'endtime', index:'a.endtime', width:150, align:"left"},
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		initValue()
	}
});
</script>