<% layout('/layouts/default.html', {title: '立博的主场各赔率管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('立博的主场各赔率管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('bkp:bkpLbpl:edit')){ %>
					<a href="${ctx}/bkp/bkpLbpl/form" class="btn btn-default btnTool" title="${text('新增立博的主场各赔率')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${bkpLbpl}" action="${ctx}/bkp/bkpLbpl/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('联赛')}：</label>
					<div class="control-inline">
						<#form:input path="league" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('比赛时间')}：</label>
					<div class="control-inline">
						<#form:input path="time" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('主队')}：</label>
					<div class="control-inline">
						<#form:input path="hometeam" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('客队')}：</label>
					<div class="control-inline">
						<#form:input path="vistteam" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('胜的赔率')}：</label>
					<div class="control-inline">
						<#form:input path="h" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('平的赔率')}：</label>
					<div class="control-inline">
						<#form:input path="d" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('负的赔率')}：</label>
					<div class="control-inline">
						<#form:input path="a" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('比赛比分')}：</label>
					<div class="control-inline">
						<#form:input path="score" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('比赛结果')}：</label>
					<div class="control-inline">
						<#form:input path="result" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("联赛")}', name:'league', index:'a.league', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/bkp/bkpLbpl/form?id='+row.id+'" class="btnList" data-title="${text("编辑立博的主场各赔率")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("比赛时间")}', name:'time', index:'a.time', width:150, align:"left"},
		{header:'${text("主队")}', name:'hometeam', index:'a.hometeam', width:150, align:"left"},
		{header:'${text("客队")}', name:'vistteam', index:'a.vistteam', width:150, align:"left"},
		{header:'${text("胜的赔率")}', name:'h', index:'a.h', width:150, align:"left"},
		{header:'${text("平的赔率")}', name:'d', index:'a.d', width:150, align:"left"},
		{header:'${text("负的赔率")}', name:'a', index:'a.a', width:150, align:"left"},
		{header:'${text("比赛比分")}', name:'score', index:'a.score', width:150, align:"left"},
		{header:'${text("比赛结果")}', name:'result', index:'a.result', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('bkp:bkpLbpl:edit')){ %>
				actions.push('<a href="${ctx}/bkp/bkpLbpl/form?id='+row.id+'" class="btnList" title="${text("编辑立博的主场各赔率")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/bkp/bkpLbpl/delete?id='+row.id+'" class="btnList" title="${text("删除立博的主场各赔率")}" data-confirm="${text("确认要删除该立博的主场各赔率吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>