<% layout('/layouts/default.html', {title: '推荐说明表管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(bkpRecommendeddescription.isNewRecord ? '新增推荐说明表' : '编辑推荐说明表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${bkpRecommendeddescription}" action="${ctx}/bkp/bkpRecommendeddescription/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('球队')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="team" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联赛')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="league" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('获胜概率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="probabilityofwinning" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('历史交锋胜率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="historicalwinrate" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('最近6场进球数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="numberofgoals" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('最近6场失球数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="conceded" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('优势1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="superiority1" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('劣势1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inferior1" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('优势2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="superiority2" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('劣势2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inferior2" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('优势3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="superiority3" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('劣势3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inferior3" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('优势4')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="superiority4" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('劣势4')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inferior4" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('优势5')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="superiority5" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('劣势5')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="inferior5" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('bkp:bkpRecommendeddescription:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>