<% layout('/layouts/default.html', {title: '投注管理', libs: ['validate']}){ %>
<link rel="stylesheet" href="${ctxStatic}/js/demo/major.css">

<div class="main-content">
    <div class="box box-main">
        <div class="box-header with-border">
            <div class="box-title">
                <i class="fa icon-note"></i> ${text(userbets.isNewRecord ? '新增投注信息' : '编辑投注信息')}
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <#form:form id="inputForm" model="${userbets}" action="${ctx}/userbets/userbets/save" method="post"
        class="form-horizontal">

        <div class="box-body">
            <table id="dakas" style="border-collapse: collapse;margin: 0 auto;text-align: center;width: 1452px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <label><input type="radio" name="tz" id="wf1" value="2串1"  onclick="zuhe(2)">2串1</label>
                <label><input type="radio" name="tz" id="wf2" value="3串1 " onclick="zuhe(3)">3串1</label>
                <tr>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>选择</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>比赛时间</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>次序</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>具体时间</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>联赛</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>主队</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>对战</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>客队</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>推荐结果{不让球}</label></td>
                    <td style='border: 1px solid #cad9ea;color: #666;'><label>赔率</label></td>
                </tr>

            </table>
            <div class="form-unit">${text('基本信息')}</div>
            <#form:hidden path="id"/>
            <#form:hidden path="userid"/>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span><i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="bettingmethod" id="tzfs" style="display:none" onfocus="this.blur()" maxlength="50"
                            class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('投注金额（元）')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="betamount" id="tzje" onfocus="this.blur()" maxlength="11"
                            class="form-control digits"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('盈利预期')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:select path="earnings" id="ylyq" dictType="percentage" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('倍数')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="multiple" id="bs" oninput="getForecastAmount()" onblur="getTheDefaultValue()" maxlength="11"
                            class="form-control required"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('亏损金额（元）')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="totalloss" id="ksje" oninput="getForecastAmount()" onblur="getTheDefaultValue()" maxlength="50"
                            class="form-control required" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('扣除亏损盈利比例')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="profitratioafterdeductinglosses" onfocus="this.blur()" id="kcksylb"
                            maxlength="50"
                            class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('扣除亏损盈利金额（元）')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="profitafterdeductinglosses" onfocus="this.blur()" id="kcksylje"
                            maxlength="50"
                            class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('当期盈利比')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="currentprofitratio" id="dqylb" onfocus="this.blur()" maxlength="50"
                            class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('当期盈利金额（元）')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="currentprofitamount" id="dqylje" onfocus="this.blur()" maxlength="50"
                            class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span><i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="selectresult" id="yhxzjg" style="display:none" onfocus="this.blur()" maxlength="200"
                            class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span><i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="matchResults" id="matchResults" style="display:none"  maxlength="200"
                            class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('分批')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:select path="batch" id="fpks" onchange="getForecastAmount()" dictType="batchLoss"
                            class="form-control digits" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <% if (hasPermi('userbets:userbets:edit')){ %>
                    <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i>
                        ${text('保 存')}
                    </button>&nbsp;
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" id="btnCancel"
                            onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}
                    </button>
                </div>
            </div>
        </div>
    </div>
</#form:form>
</div>
</div>
<% } %>
<!-- import Vue before Element -->
<script src="${ctxStatic}/js/demo/vue.js"></script>
<!-- import JavaScript -->
<script src="${ctxStatic}/js/demo/major.js"></script>
<!-- import axios -->
<script src="${ctxStatic}/js/demo/axios.js"></script>
<!-- import 封装好的get,post的请求 -->
<script src="${ctxStatic}/js/demo/httpRequest.js"></script>
<script>
    $(function () {
        getTeamData();
    });
    var howToPlay = 0;
    var je = 0;


    function getForecastAmount() { //获取预测金额
        if (howToPlay==0){
            return;
        }
        var obj = $("#bs").val();//获取到了倍数
        if (obj==""||obj==0){
            $("#dqylb").val("0%");
            $("#dqylje").val(0);
            $("#kcksylb").val("0%");
            $("#kcksylje").val(0);
            $("#tzje").val(0);
            return;
        }
        $("#tzje").val(obj * 2);//动态设置投注金额
        var aa = $("#tzje").val();//投注金额//获取投注金额
        if ($("#yhxzjg").val() != "") {
            var list = [];
            var yhxzjg = $("#yhxzjg").val();
            list = yhxzjg.split(";");
            list.pop();
            var zje = 2;
            for (var i in list) {
                // var text = list[i].substr(list[i].length - 4, 4);
                var ceshi = $("input[type='checkbox']:checked").parent("lable").parent("td").parent("tr");
                var last=(ceshi[i].children)[(ceshi[i].children).length-1].textContent;//最后一个td里面的值  也就是赔率
                // var text=[];
                // text=list[i].split(":");
                // zje *= text[text.length-1];
                zje*=last;
                debugger;
            }
            je = zje;
        }
         zje = je * obj;
        $("#dqylje").val((zje - aa).toFixed(2));
        $("#dqylb").val(((zje - aa) / aa * 100.00).toFixed(2) + "%");
        var ksje = $("#ksje").val();
        if (ksje == 0) {
            $("#kcksylje").val((zje - aa).toFixed(2));
            $("#kcksylb").val(((zje - aa) / aa * 100.00).toFixed(2) + "%");
        } else if (ksje != 0&&ksje!="") {
            var fpks = $("#fpks").val();
            $("#kcksylje").val((zje - aa - (ksje / fpks)).toFixed(2));
            $("#kcksylb").val(((zje - aa - (ksje / fpks)) / aa * 100.00).toFixed(2) + "%");
        }


    }
    function getTheDefaultValue() {
        if ($("#ksje").val()==""){
            $("#ksje").val(0);
            getForecastAmount()
        }
        if ($("#bs").val()==""){
            $("#bs").val(1);
            getForecastAmount()
        }
    }

    function getBonus(v1, v2) {
        //根据2串一计算奖金
        //获取倍数
        var obj = $("#bs").val();//获取到了倍数
        //进行计算
        var num = v1 * v2 * obj * 2;
        je = num;
        //设置投注金额
        $("#tzje").val(obj * 2);
        var tzje = $("#tzje").val();
        $("#dqylje").val((num - tzje).toFixed(2));
        $("#dqylb").val(((num - tzje) / tzje * 100).toFixed(2) + "%");
        var ksje = $("#ksje").val();
        if (ksje == 0) {
            $("#kcksylje").val((num - tzje).toFixed(2));
            $("#kcksylb").val(((num - tzje) / tzje * 100).toFixed(2) + "%");
        } else if (ksje != 0) {
            var fpks = $("#fpks").val();
            $("#kcksylje").val(((zje - aa - (ksje / fpks))).toFixed(2));
            $("#kcksylb").val(((zje - aa - (ksje / fpks)) / aa * 100.00).toFixed(2) + "%");
        }
    }

    function getBonus1(v1, v2, v3) {
        //根据2串一计算奖金
        //获取倍数
        var obj = $("#bs").val();//获取到了倍数
        //进行计算
        var num = v1 * v2 * v3 * obj * 2;
        je = num;
        //设置投注金额
        $("#tzje").val(obj * 2);
        var tzje = $("#tzje").val();
        $("#dqylje").val((num - tzje).toFixed(2));
        $("#dqylb").val(((num - tzje) / tzje * 100).toFixed(2) + "%")
        var ksje = $("#ksje").val();
        if (ksje == 0) {
            $("#kcksylje").val((num - tzje).toFixed(2));
            $("#kcksylb").val(((num - tzje) / tzje * 100).toFixed(2) + "%");
        } else if (ksje != 0) {
            var fpks = $("#fpks").val();
            $("#kcksylje").val((zje - aa - (ksje / fpks)).toFixed(2));
            $("#kcksylb").val(((zje - aa - (ksje / fpks)) / aa * 100.00).toFixed(2) + "%");
        }
    }

    function doCheck(obj) {
        var aa = $("input[type='checkbox']:checked").length;
        if (howToPlay == 0) {
            alert("请先选择玩法")
            $("input[type='checkbox']").removeAttr("checked");//取消全选
            return;
        }
        debugger;
        if (aa > howToPlay) {
            alert("只能选" + howToPlay + "场");
            $(obj).prop("checked", false);

            getForecastAmount()
        }
        if (aa == howToPlay) {
            var yhxzjg = "";
            var djcheckbox = [];
            var Check = $("#dakas input[type=checkbox]:checked");//在#dakas中找input下类型为checkbox属性为选中状态的数据
            var aaaaa = 0;
            var test="";
            Check.each(function () {//遍历
                var ceshi = $("input[type='checkbox']:checked").parent("lable").parent("td").parent("tr");
                var last=(ceshi[aaaaa].children)[(ceshi[aaaaa].children).length-1].textContent;//最后一个td里面的值  也就是赔率
                var content = ceshi[aaaaa].textContent;
                yhxzjg += content + ";";
                test+="未开赛/"
                // var list=[];
                // var num = content.substr(content.length - 4, 4)
                // list=content.split(":");
                djcheckbox.push(last);
                aaaaa++;
            })
            if (djcheckbox.length == 2) {
                getBonus(djcheckbox[0], djcheckbox[1])
            } else if (djcheckbox.length == 3) {
                getBonus1(djcheckbox[0], djcheckbox[1], djcheckbox[2])
            }
            $("#yhxzjg").val(yhxzjg);
            $("#matchResults").val(test);
        }
        var check01=$("input[type='checkbox']").parent("lable").parent("td").parent("tr");
        for (var i=0;i<check01.length;i++){
            var aa=(((check01[i].children)[0].children)[0].children)[0].checked;
            check01[i].style.backgroundColor="#FFFFFF"
            if (aa==true){
                check01[i].style.backgroundColor="#E6E6E6";
            }
            // check01[i].parent("lable").parent("td").parent("tr").style.backgroundColor="#E6E6E6";
        }
        debugger;
    }
    function getTeamData() {
        $.ajaxSetup({
            async: false
        });
        var aa;

        //算出每场最小值 让用户选择
        $.get("/js/test01/minimumOdds").then(res => {
            //console.log("ceshi++"+res);
            //alert(res.data);
            if ($("#yhxzjg").val() == "") {
                $("#ksje").val(0);
                $("#fpks").val(1);
                $("#bs").val(1);
                 howToPlay = 2;
                $("#wf1").attr("checked", true);
                $("#tzfs").val("2串1")
            }

            console.log(JSON.stringify(res))
            var tBody = $("#dakas");
            // tBody.empty();
            //2.迭代数据并显示在tbody中
            for (var i in res) {
                //2.1 构建tr对象
                var tr = $("<tr></tr>");
                //tr.data("rowData",res[i]);
                //2.2 构建多个td对象
                var tds = doCreateTds(res[i]);
                //2.3 将td追加到tr中
                tr.append(tds);
                //2.4 将tr追加到tbody中
                tBody.append(tr);
            }
            var check01=$("input[type='checkbox']").parent("lable").parent("td").parent("tr");
            for (var i=0;i<check01.length;i++){
                var aa=(((check01[i].children)[0].children)[0].children)[0].checked;
                check01[i].style.backgroundColor="#FFFFFF"
                if (aa==true){
                    check01[i].style.backgroundColor="#E6E6E6";
                }
                // check01[i].parent("lable").parent("td").parent("tr").style.backgroundColor="#E6E6E6";
            }
            // $("#btnSubmit")[0].style.display="none";
        })
    }

    function doCreateTds(item) {
        var tds ="<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + "<input type='checkbox'   name='min'  onclick='doCheck(this)' >"+"</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;' >" + "<lable>" + item.bDate+ "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.num + "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.time + "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.lcnAbbr + "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.hcnAbbr + "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + "VS" + "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.acnAbbr + "</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.result+ ":"+"</lable>" + "</td>" +
            "<td style='border: 1px solid #cad9ea;color: #666;' class='dj'>" + "<lable  >" + item.min + "</lable>" + "</td>";
        if ($("#yhxzjg").val() != "") {
            //获取字符串的分隔的个数
            var list = [];
            var yhxzjg = $("#yhxzjg").val();
            list = yhxzjg.split(";");
            list.pop();

            for (var i in list) {
                var text = item.bDate + item.num + item.time + item.lcnAbbr + item.hcnAbbr + "VS" + item.acnAbbr + item.result+":";
                //因为item.min可能会发生变化  所以不拿这个做比较了
                // text = text.replace(/:/g,'');
                 var tdslist=[];
                var context="";
                tdslist=list[i].split(":");
                for (var j=0;j<tdslist.length-1;j++){
                    context+=tdslist[j]+":";
                }
                if (context == text) {
                    // var newStr="ckecked='checked'";
                    // var start=34;
                    var leng=tds.indexOf("checkbox");//获取位置
                    tds = insertStr(tds, leng+11, "checked='checked'");//根据字符串位置
                }
            }
            if (list.length == 2) {
                howToPlay = 2;
                $("#wf1").attr("checked", true);
            } else if (list.length == 3) {
                howToPlay = 3;
                $("#wf2").attr("checked", true);
            }
        }
        return tds;
    }

    function insertStr(souce, start, newStr) {
        return souce.slice(0, start) + newStr + souce.slice(start)
    }

    function zuhe(num) {
        if (num == 2) {
            howToPlay = 2;
            $("#tzfs").val("2串1")
        } else if (num == 3) {
            howToPlay = 3;
            $("#tzfs").val("3串1")
        }
        $("input[type='checkbox']").removeAttr("checked");//取消全选
        $("#tzje").val("");
        $("#ksje").val(0);
        $("#kcksylje").val("");
        $("#kcksylb").val("");
        $("#dqylje").val("");
        $("#dqylb").val("");
        $("#yhxzjg").val("");
        var check01=$("input[type='checkbox']").parent("lable").parent("td").parent("tr");
        for (var i=0;i<check01.length;i++){
            var aa=(((check01[i].children)[0].children)[0].children)[0].checked;
            check01[i].style.backgroundColor="#FFFFFF"
            if (aa==true){
                check01[i].style.backgroundColor="#E6E6E6";
            }
            // check01[i].parent("lable").parent("td").parent("tr").style.backgroundColor="#E6E6E6";
        }
    }

    $("#inputForm").validate({
        submitHandler: function (form) {
            js.ajaxSubmitForm($(form), function (data) {
                js.showMessage(data.message);
                if (data.result == Global.TRUE) {
                    js.closeCurrentTabPage(function (contentWindow) {
                        contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>