<% layout('/layouts/default.html', {title: 'bkp_leis管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(bkpLeis.isNewRecord ? '新增bkp_leis' : '编辑bkp_leis')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${bkpLeis}" action="${ctx}/bkp/bkpLeis/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="hometeam" maxlength="70" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('时间用作比较')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="time" maxlength="70" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="vistteam" maxlength="70" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联赛')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="league" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队获胜概率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="homeprobabilityofwinning" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队历史交战胜率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="homehistoricalwinrate" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('主队最近6场进球数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="homenumberofgoals" maxlength="30" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队最近6场失球数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="homeconceded" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队获胜概率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="vistprobabilityofwinning" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队历史交战胜率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="visthistoricalwinrate" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队最近6场进球数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="vistnumberofgoals" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队有利情报1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zdyl1" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队有利情报2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zdyl2" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队有利情报3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zdyl3" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队不利情报1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zdbl1" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队不利情报2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zdbl2" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('主队不利情报3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zdbl3" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('中立情报情报1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zlqb1" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('中立情报情报2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zlqb2" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('中立情报情报3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="zlqb3" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队有利情报1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kdyl1" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队有利情报2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kdyl2" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队有利情报3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kdyl3" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队不利情报1')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kdbl1" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队不利情报2')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kdbl2" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客队不利情报3')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="kdbl3" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('bkp:bkpLeis:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>