<% layout('/layouts/default.html', {title: '用户下注表管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(bkpUserbets.isNewRecord ? '新增用户下注表' : '编辑用户下注表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${bkpUserbets}" action="${ctx}/bkp/bkpUserbets/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<#form:hidden path="modeid"/>
				<table id="dakas" style="border-collapse: collapse;margin: 0 auto;text-align: center;width: 1452px">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--					<label><input type="radio" name="tz" id="wf1" value="2串1"  onclick="zuhe(2)">2串1</label>-->
<!--					<label><input type="radio" name="tz" id="wf2" value="3串1 " onclick="zuhe(3)">3串1</label>-->
					<tr>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>比赛时间</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>次序</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>联赛</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>主队</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>对战</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>客队</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>用户选择</label></td>
						<td style='border: 1px solid #cad9ea;color: #666;'><label>比赛结果</label></td>
					</tr>
				</table>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span><i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="bettingmethod" style="display:none"  maxlength="30"  class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span><i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="id" maxlength="30" style="display:none"   class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span><i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="pick" maxlength="30" style="display:none"   class="form-control"/>
						</div>
					</div>
				</div>
			</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
	$(function () {
		getTeamData();
	});

	function getTeamData(){
		var id=$("#id").val();
		var data={
			id:id
		}
		$.post("${ctx}/bkp/bkpUserbets/queryBets",data).then(res =>{
			console.log(res);
			debugger;
			var tBody = $("#dakas");
			//2.迭代数据并显示在tbody中
			for (var i in res) {
				//2.1 构建tr对象
				var tr = $("<tr></tr>");
				//tr.data("rowData",res[i]);
				//2.2 构建多个td对象
				var tds = doCreateTds(res[i]);
				//2.3 将td追加到tr中
				tr.append(tds);
				//2.4 将tr追加到tbody中
				tBody.append(tr);
			}
		})
	}
	function doCreateTds(item){
		var tds =
				"<td style='border: 1px solid #cad9ea;color: #666;' >" + "<lable>" + item.bdate+ "</lable>" + "</td>" +
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.num + "</lable>" + "</td>" +
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.league + "</lable>" + "</td>" +
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.hometeam + "</lable>" + "</td>" +
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + "VS" + "</lable>" + "</td>" +
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.awayteam + "</lable>" + "</td>" +
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable>" + item.pick + "</lable>" + "</td>"+
				"<td style='border: 1px solid #cad9ea;color: #666;'>" + "<lable" + ((item.pick.indexOf(item.matchresults)<0) ? " style='color:blue;'" : " style='color:red;'") + ">" + item.matchresults+ "</lable>" + "</td>";
		return tds;
	}
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>